@using Sitecore
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            @Html.Sitecore().Placeholder("paragraph")
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            @Html.Sitecore().Placeholder("button")
        </div>
    </div>
</div>